/* ProductSlider.module.css */
.splide__arrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 0 1rem;
    flex-direction: row; /* Ok tuşlarını yatay hizalamak için */
  }
  
  .splide__arrow--prev,
  .splide__arrow--next {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .splide__arrow--prev {
    left: 0;
  }
  
  .splide__arrow--next {
    right: 0;
  }
  
  @media (max-width: 640px) {
    .splide__arrow--prev,
    .splide__arrow--next {
      padding: 0.25rem;
    }
  }
  
  /* Üst ve alt paddingi kaldır */
  .splide__track {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .splide__list {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  /* Kartların dışındaki boşlukları kaldır */
  .splide__slide {
    margin: 0 !important;
    padding: 0 !important;
  }
  